.feedbackContainer {
  display: flex;
}

.feedbackControlerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
}

.feedbackControlerWrapper:hover {
  scale: 1.5;
}
