.logoText {
  display: inline-block;
  font-size: 1rem;
  border-right: 0.4rem solid;
  padding-right: 0.5rem;
  text-decoration: none;
  animation: blink 0.5s step-end infinite alternate;
}

@keyframes blink {
  from,
  to {
    border-right-color: white;
  }
  50% {
    border-right-color: #010101;
  }
}
