.avatar {
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 2rem;
  overflow: hidden;
  cursor: pointer;
}

.login {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
