.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 3px solid #cecece;
  border-top-color: #f50;
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
