.wrapper {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 2s linear infinite;
  cursor: pointer;
  position: relative;
}

.star {
  -webkit-filter: invert(var(--invert));
  -ms-filter: invert(var(--invert));
  -o-filter: invert(var(--invert));
  filter: invert(var(--invert));
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
