.container {
  position: sticky;
  display: flex;
  top: calc(100vh - 100px);
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  padding: 0.4rem 1rem;
  background-color: var(--soundbar_background);
  color: var(--soundbar_color);
  z-index: 3;
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
