.marquee {
  height: 20px;
  width: 100%;
  background-color: black;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.track {
  width: 400%;
  position: absolute;
  animation: scroll 10s linear infinite;
}

.text {
  display: inline-block;
  text-align: center;
  width: calc(100% / 8);
  color: white;
  font-size: 14px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee:hover div {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
