.controlContainer {
  display: flex;
  gap: 2rem;
}
.controlButton {
  cursor: pointer;
}

.timeLine {
  display: block;
}

@media screen and (max-width: 767px) {
  .timeLine {
    display: none;
  }
}
