.marquee {
  height: 20px;
  width: 100%;
  background-color: black;
  overflow: hidden;
  position: relative;
}

.track {
  width: 300%;
  position: absolute;
  animation: scroll 20s linear infinite;
}

.text {
  display: inline-block;
  width: calc(100% / 9);
  color: white;
  font-size: 14px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee:hover div {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
