.wrapper {
  width: 30rem;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background: var(--background);
}

@media screen and (max-width: 767px) {
  .wrapper {
    width: 50vh;
  }
}
