:root {
  --background: #ddd;
  --color: black;
}

:root[data-theme="dark"] {
  --background: black;
  --color: #ddd;
}

:root[data-theme="red"] {
  --background: red;
  --color: red;
}

:root[data-theme="apple"] {
  --background: blue;
  --color: blue;
}

body {
  background-color: var(--background);
  color: var(--color);
}
