:root {
  --background: #ddd;
  --color: black;
  --invert: 0;
}

:root[data-theme="dark"] {
  --background: black;
  --color: #ddd;
  --invert: 1;
}

body {
  background-color: var(--background);
  color: var(--color);
}
