.wrapper {
    width: 100%;
    max-width: 768px;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-areas:
        "artwork heading"
        "artwork info"
        "artwork actions";
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
}

@media screen and (max-width: 767px) {
    .grid {
        display: flex;
        flex-direction: column;
        gap:1rem;
    }
}

.heading {
    grid-area: heading;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.artwork {
    width: 300px;
    aspect-ratio: 1;
    grid-area: artwork;
    position: relative;
    overflow: hidden;
}

.info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 2rem;
    column-gap: 2rem;
}

.action {
    margin-top: 1rem;
    grid-area: actions;
    display: flex;
    align-items: flex-end;
}
